<!-- index.hbs -->

    <main>
        <section>
            <article id="customers">
                <h2>Customers</h2>
                <p>
                    View a list of all Customers. Allows you to add, delete, or update Customers.
                </p>
            </article>
            <article id="orders">
                <h2>Orders</h2>
                <p>
                    View a list of all Orders. Allows you to add, delete, or update Orders.
                </p>
            </article>
            <article id="books">
                <h2>Books</h2>
                <p>
                    View a list of all Books. Allows you to add, delete, or update Books.
                </p>
            </article>
            <article id="authors">
                <h2>Authors</h2>
                <p>
                    View a list of all Authors. Allows you to add, delete, or update Authors.
                </p>
            </article>
            <article id="customers">
                <h2>Publishers</h2>
                <p>
                    View a list of all Publishers. Allows you to add, delete, or update Publishers.
                </p>
            </article>
        </section>
    </main>



