<!-- Citation: Code from Node.JS Starter Guide used as template -->

<!-- index.hbs -->

    <main>
        <section>
            <article>
                <h2>About</h2>
                <p><strong>Authors:</strong> Cassidy Williams and Tallent Hagan</p>
                <p>CS340</p>
                <p>Group 55</p>
            </article>
            <article id="customers">
                <h2>Customers</h2>
                <p>
                    View a list of all Customers. Allows you to add, delete, or update Customers.
                </p>
                <p><strong>Static Table - CRUD operations not implemented.</strong></p>
            </article>
            <article id="orders">
                <h2>Orders</h2>
                <p>
                    View a list of all Orders. Allows you to add, delete, or update Orders.
                </p>
                <p style="color:green;"><strong>Dynamic Table - All CRUD operations implemented (Still requires page refresh).</strong></p>
            </article>
            <article id="books">
                <h2>Books</h2>
                <p>
                    View a list of all Books. Allows you to add, delete, or update Books.
                </p>
                <p><strong>Static Table - CRUD operations not implemented.</strong></p>
            </article>
            <article id="authors">
                <h2>Authors</h2>
                <p>
                    View a list of all Authors. Allows you to add, delete, or update Authors.
                </p>
                <p><strong>Dynamic Table - CREATE, UPDATE, and DELETE not implemented.</strong></p>
            </article>
            <article id="customers">
                <h2>Publishers</h2>
                <p>
                    View a list of all Publishers. Allows you to add, delete, or update Publishers.
                </p>
                <p><strong>Static Table - CRUD operations not implemented.</strong></p>
            </article>
            <article id="BooksOnOrder">
                <h2>Books on Order</h2>
                <p>
                    View book line items for orders. Allows you to add, delete, or update book line items.
                </p>
                <p><strong>Dynamic Table - CREATE, UPDATE, and DELETE not implemented.</strong></p>
            </article>
        </section>
    </main>



