<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<header>
        <h1>Meadowlark Books</h1>
</header>
    <nav class="main-menu">
        <a href="/">Home</a>
        <a href="/customers">Customers</a>
        <a href="/orders">Orders</a>
        <a href="/books">Books</a>
        <a href="/authors">Authors</a>
        <a href="/publishers">Publishers</a>
        <a href="/booksorders">BooksOrders</a>
    </nav>
<body>

    {{{body}}}

</body>
</html>